

<div class="homepage">
  <div id="hotslogo">
    <img src="http://vignette4.wikia.nocookie.net/wowwiki/images/0/04/Heroes_of_the_Storm_logo.png/revision/latest?cb=20131019050303"  style="width:450px">
  </div>
  <h1> A BEGINNERS GUIDE</h1>
  <br><br><br><br><br><br><br><br><br><br>

</div>

<!-- MOBA section -->
<!-- MOBA section -->

<section class="parallax">
  <div class="parallax-inner">
    <h3>MOBAs</h3>
  </div>
 </section>

 <div class="mobasection">

   <img src="http://i1-news.softpedia-static.com/images/news2/Quick-Look-Heroes-of-the-Storm-with-Gameplay-Video-and-Gallery-471016-8.jpg">


   <image src="hotsinfo.png" style="width:100px" data-toggle="collapse" data-target="#textbutton"></image>
   <div id="textbutton" class="collapse">
     <div class="textcontainer">
       <p> Multiplayer online battle arena (MOBA),  is a genre of strategy video games in which a player controls a single character in one of two teams. </p>
      </div>
   </div>


   <!-- <div class="textcontainer">
     <p> Multiplayer online battle arena (MOBA),  is a genre of strategy video games in which a player controls a single character in one of two teams. </p>
    </div> -->

    <img src="http://www.teamliquid.net/staff/heyoka/HeroesoftheSwarm/BlizzConGallery/25%20-%205SSaHxZ.jpg">

   <div class="textcontainer">
     <p> The objective is to destroy the opposing team's main structure. </p>
    </div>

 </div>

 <!-- Roles section -->
 <!-- Roles section -->

 <section class="parallax2">
   <div class="parallax-inner2">
     <h3>ROLES</h3>
   </div>
  </section>

  <div class="rolessection">

    <div class="textcontainer">
      <p>Heroes have an array of powerful abilities that set them apart from each other. Although unique in their own right, every hero has a kit geared towards a
         particular role.</p>
     </div>

    <div class="assassins">
     <div class="textcontainer">
       <h3>Assassins</h3>
       <img id="assassinicon" src="https://www.heroesfire.com/images/wikibase/icon/roles/assassin.png">

       <div class="plus">
         <h5>High damage</h5>
         <img id="plusicon" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/green-jelly-icons-signs/092949-green-jelly-icon-signs-first-aid1.png">
       </div>

       <div class="minus">
         <h5>Low health</h5>
        <img id="minusicon" src="http://www.clker.com/cliparts/q/H/W/T/w/U/red-minus-md.png">
       </div>
     </div>
    </div>

    <div class="warriors">
     <div class="textcontainer">
       <h3>Warriors</h3>
       <img id="warriorsicon" src="https://www.heroesfire.com/images/wikibase/icon/roles/warrior.png">

       <div class="plus">
         <h5>High health</h5>
         <img id="plusicon" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/green-jelly-icons-signs/092949-green-jelly-icon-signs-first-aid1.png">
       </div>

       <div class="minus">
         <h5>Low damage</h5>
        <img id="minusicon" src="http://www.clker.com/cliparts/q/H/W/T/w/U/red-minus-md.png">
       </div>
     </div>
    </div>

    <div class="support">
     <div class="textcontainer">
       <h3>Support</h3>
       <img id="supporticon" src="https://www.heroesfire.com/images/wikibase/icon/roles/support.png">

       <div class="plus">
         <h5>Assisting Allies</h5>
         <img id="plusicon" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/green-jelly-icons-signs/092949-green-jelly-icon-signs-first-aid1.png">
       </div>

       <div class="minus">
         <h5>Low damage</h5>
        <img id="minusicon" src="http://www.clker.com/cliparts/q/H/W/T/w/U/red-minus-md.png">
       </div>
     </div>
    </div>

    <div class="specialist">
     <div class="textcontainer">
       <h3>Specialist</h3>
       <img id="specialisticon" src="http://vignette4.wikia.nocookie.net/heroesofthestorm/images/e/ed/IconSpecialist.png/revision/latest?cb=20140807220510">

       <div class="plus">
         <h5>Siege Damage</h5>
         <img id="plusicon" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/green-jelly-icons-signs/092949-green-jelly-icon-signs-first-aid1.png">
       </div>

       <div class="minus">
         <h5>Team Fights</h5>
        <img id="minusicon" src="http://www.clker.com/cliparts/q/H/W/T/w/U/red-minus-md.png">
       </div>
     </div>
    </div>

  </div>


<!-- TEAM COMP SECTION -->
<!-- TEAM COMP SECTION -->
<!-- TEAM COMP SECTION -->


  <section class="parallax3">
    <div class="parallax-inner3">
      <h3>TEAM COMPOSITION</h3>
    </div>
   </section>

   <div class="compsection">

    <div class="textcontainer">
     <p>There are many powerful ways to build your team depending on the circumstances.
       However, HERE IS A GENERAL RULE OF THUMB
       WHEN FORMING A SOLID TEAM.</p>
    </div>

     <div class="comptextcontainer">
       <h3>Standard Comp</h3>

       <div id="tankrow">
         <div id="compwarrioricon">
           <img id="warriorsicon" src="https://www.heroesfire.com/images/wikibase/icon/roles/warrior.png" style="width:150px" >
         </div>
         <div id="tanktext">
           <h3>1 tank</h3>
         </div>
         <div id="tankimg">
           <img id="johanna" src="https://img00.deviantart.net/f92e/i/2015/253/b/f/johanna___heroes_of_the_storm_by_plank_69-d995caf.png" style="width:300px" >
         </div>

         <div id="supportrow">
           <div id="compsupporticon">
             <img id="supporticon" src="https://www.heroesfire.com/images/wikibase/icon/roles/support.png" style="width:150px" >
           </div>
           <div id="supporttext">
             <h3>1 support</h3>
           </div>
           <div id="supportimg">
             <img id="malfurion" src="https://img03.deviantart.net/5d6f/i/2015/253/2/a/malfurion_stormrage___heroes_of_the_storm_by_plank_69-d995ao3.png" style="width:300px" >
           </div>

           <div id="mdpsrow">
             <div id="compmdpsicon">
               <img id="mdpsicon" src="https://www.heroesfire.com/images/wikibase/icon/roles/assassin.png" style="width:150px" >
             </div>
             <div id="mdpstext">
               <h3>1 Melee DMG</h3>
             </div>
             <div id="mdpsimg">
               <img id="thrall" src="https://img00.deviantart.net/506c/i/2015/253/c/e/thrall___heroes_of_the_storm_by_plank_69-d995bgk.png" style="width:300px" >
             </div>

             <div id="rdpsrow">
               <div id="comprdpsicon">
                 <img id="rdpsicon" src="https://www.heroesfire.com/images/wikibase/icon/roles/assassin.png" style="width:150px" >
               </div>
               <div id="rdpstext">
                 <h3>1 Ranged DMG</h3>
               </div>
               <div id="rdpsimg">
                 <img id="raynor" src="https://www.talentedheroes.com/Images/Resources/artwork/Heroes%20Gallery/raynor.png?h=514&w=822&mode=crop" style="width:300px" >
               </div>

               <div id="specrow">
                 <div id="compspecicon">
                   <img id="specicon" src="http://vignette4.wikia.nocookie.net/heroesofthestorm/images/e/ed/IconSpecialist.png/revision/latest?cb=20140807220510" style="width:150px" >
                 </div>
                 <div id="spectext">
                   <h3>1 Specialist</h3>
                 </div>
                 <div id="specimg">
                   <img id="sylvanas" src="https://img00.deviantart.net/f998/i/2015/253/9/1/sylvanas___heroes_of_the_storm_by_plank_69-d9958w7.png" style="width:300px" >
                 </div>



       </div>

     </div>

   </div>
