<div id="hotslogo">
<img src="http://vignette4.wikia.nocookie.net/wowwiki/images/0/04/Heroes_of_the_Storm_logo.png/revision/latest?cb=20131019050303"  style="width:350px">
</div>
<div class="jumbotron">

  <h1 class="display-3">MOBA</h1>
  <p class="lead">A begginers guide to Heroes of The Storm</p>
  <hr class="my-4">
  <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
  <!-- <p class="lead"> -->
    <a class="btn btn-primary btn-lg" href="home/moba" role="button">Get Started</a>
  </p>
</div>
